<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tesk</title>
        <link rel="stylesheet" href="../../static/styles/styles.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <!-- <body style="background-color: #959595;"> -->
        <section class="container">
            <header class="navbar_container">
                <nav>
                    <ul>
                        <!-- Condicion para saber si el usuario esta autenticado o no -->
                        <!-- Si esta autenticado, muestra el link a "Proyectos" y el boton para cerrar sesion. -->
                        <li>
                            <a href="#" class="tesk_icon">Tesk</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="/home">Inicio</a>
                        </li>
                        <li>
                            <a href="/task/create">Crear tarea</a>
                        </li>
                        <li>
                            <a href="/project/create">Crear proyecto</a>
                        </li>
                        <li>
                            <a href="/logout">Cerrar sesion</a>
                        </li>
                        <!-- Si no esta autenticado, van a aparecer las opciones de "Registrar usuario" y/o "Iniciar sesion" -->
                        {% else %}
                        <li>
                            <a href="/login">Iniciar sesion</a>
                        </li>
                        <li>
                            <a href="/register">Registrar usuario</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <aside class="aside_container">
                {% block home %}
                {% endblock %}

                {% block view %}
                {% endblock %}
            </aside>
            <main class="main_container">
                {% block home_view %}
                {% endblock %}

                {% block content %}
                {% endblock %}

                {% block create_project %}
                {% endblock %}
                
                {% block create_task %}
                {% endblock %}
            </main>
        </section>
    </body>

</html>