* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: rgb(107, 113, 130);
}

.container {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr 1fr;
	grid-template-rows: 5.5vh 94.5vh;
	grid-template-areas:
		'aside header header header'
		'aside main main main';
}

.aside_container {
	/* border: 1px solid red; */
	background-color: rgb(53, 59, 74);
	grid-area: aside;
}

.aside_container ul{
	padding: 10px;
}

.aside_container li{
	padding-bottom: 8px;
	list-style: none;
}

.aside_container a{
	text-decoration: none;
	color: white;
}

.aside_container h3{
	padding-left: 10px;
	color: white;
}

.navbar_container {
	/* border: 1px solid red; */
	grid-area: header;

}

.navbar {
	border: 0px solid #000000;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #13161C;
}

.navbar li {
	float: right;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
	background-color: #ebebeb;
}

.main_container {
	/* border: 1px solid red; */
	padding: 24px;
	grid-area: main;
	overflow: scroll;
	overflow-x: hidden;
}



.home_title{
	display: flex;
	justify-content: center;
}
