{% extends 'layouts/base.html' %}

{% block view %}
<h3>Proyectos</h3>
<ul>
    {% for project in projects %}
    <li>
        <a href="{% url 'main_section' project.id %}">{{project.title}}</a>
        <a href="{% url 'delete_project' project.id %}"><i class='bx bxs-x-circle'></i></a>
        {% block delete_project %}
        {% endblock %}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block create_project %}
<h1>Crear proyecto</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label for="id_title">Titulo:</label>
    <input type="text" name='title' id="id_title" required>

    <label for="id_description">Descripcion:</label>
    <input type="text" name='description' id="id_description" required>

    <button>Crear</button>
</form>

{% endblock %}