{% extends 'layouts/base.html' %}

{% block view %}
<p>Proyectos</p>
<ul>
    {% for project in projects %}
    <li>
        <a href="{% url 'main_section' project.id %}">{{project.title}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}


{% block content %}
<h1>{{project.title}}</h1>
<p>Tareas</p>
{% for task in tasks %}
<ul>
    <li>
        <p>{{task.title}}</p>
        <p>{{task.description}}</p>
        <p>{{task.created}}</p>
        <p>{{task.datecompleted}}</p>
        <p>{{task.priority}}</p>
    </li>
</ul>
{% endfor %}

{% block create_task %}
{% endblock %}

{% endblock %}