<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tesk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}" />
    <link rel="stylesheet" href="../../static/styles/register.css" />
</head>

<body>
    {% block content %}
    <section class="register">
        <div class="container">
            <h1>Registrate</h1>
            <p>Crea tu cuenta con tus datos</p>
            <div class="forms">
                <form action="/register/" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="id_firstname">Nombre</label>
                        <input type="text" name="firstname" maxlength="150" autocapitalize="on" autocomplete="firstname"
                            autofocus required id="id_firstname">
                    </div>

                    <div class="input-field">
                        <label for="id_lastname">Apellido</label>
                        <input type="text" name="lastname" maxlength="150" autocapitalize="on" autocomplete="lastname"
                            autofocus required id="id_lastname">
                    </div>

                    <div class="input-field">
                        <label for="id_username">Usuario</label>

                        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username"
                            autofocus required id="id_username">
                    </div>

                    <div class="input-field">
                        <label for="id_password1">Contraseña</label>
                        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
                    </div>

                    <div class="input-field">
                        <label for="id_password2">Confirme su contraseña</label>
                        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
                    </div>


                    <button>Registrar usuario</button>
                </form>
                <a href="/login">Ya tenes cuenta? <b>Ingresa</b></a>
            </div>
            <a href="/">Volver a inicio</a>
        </div>
    </section>
    {% endblock %}
</body>

</html>