{% extends 'layouts/base.html' %}

{% block view %}
<div class="logo-details">
    <img src="../../static/images/logo-tesk-l.svg" alt="tesk-logo">
</div>
<ul class="nav-links">
    <li>
        <a href="/">
            <i class="bx bx-home"></i>
            <span class="link_name">Inicio</span>
        </a>
    </li>
    <li>
        <div class="icon-link">
            <a href="#">
                <i class="bx bx-collection"></i>
                <span class="link_name">Proyectos</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
            {% for project in projects %}
            <li>
                <a href="{% url 'main_section' project.id %}">{{ project.title }}</a>
                <a href="#" class="delete-link" onclick="showConfirmation('{{ project.id }}')">x</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-bell"></i>
            <span class="link_name">Notificaciones</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}   
      <tr>
        <th>
            <label for="id_first_name">Nombre:</label>
        </th>
        <td>
    
          <input type="text" name="first_name" value="{{user.first_name}}" maxlength="150" id="id_first_name">
    
    
        </td>
      </tr>
    
      <tr>
        <th><label for="id_last_name">Apellido:</label></th>
        <td>
    
          <input type="text" name="last_name" value="{{user.last_name}}" maxlength="150" id="id_last_name">
    
    
        </td>
      </tr>
    
      <tr>
        <th><label for="id_email">Dirección de email:</label></th>
        <td>
    
          <input type="email" name="email" maxlength="254" id="id_email">
    
    
        </td>
      </tr>
    
      <tr>
        <th>
            <label for="id_date_joined">Fecha de creación:</label>
        </th>
      </tr>
      <button>Guardar cambios</button>
</form>
{% endblock %}
